# --- ANKA OS KRİTİK YAMASI ---
anka_bilinc_kristali.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.pytest_cache/
.coverage
.cache

# Environments
.env
.venv
env/
venv/
.pdm-python

# IDE & Editörler
.idea/
.vscode/
tempCodeRunnerFile.py
.DS_Store

# Celery, Redis & Veritabanları
celerybeat-schedule
*.rdb
*.sqlite3

# Ruff & Linting
.ruff_cache/
.mypy_cache/
